@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Press+Start+2P&display=swap');

* {
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 400;
	font-style: normal;
	box-sizing: border-box;
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Press Start 2P', system-ui;
	font-weight: 400;
	font-style: normal;
}

h2 {
	font-size: 24px;
	line-height: auto;
	text-align: center;
	text-transform: uppercase;
}

body {
	margin: 0;
	background-color: #fff;
}

.cabecalho {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #5300c8;
	color: #fff;
	padding: 20px 28px;
	height: 96px;

	box-shadow: rgba(0, 0, 0, 0.45) 0px 8px 10px 0px;
}
.cabecalho h1 {
	font-size: 24px;
	line-height: 16px;
}
.principal {
	display: flex;
	flex-direction: column;
}
.secao {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 40px;
}
.form-produto {
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.form-produto input[type='text'] {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	font-weight: 500;
	color: #03318c;
	border: 3px solid #03318c;
	border-radius: 30px;
}
.form-produto input[type='text']::placeholder {
	color: #03318c;
}
.form-produto__area-arquivo {
	border: 3px dashed #03318c;
	color: #03318c;
	border-radius: 30px;
	padding: 30px 50px;
	text-align: center;
}
.form-produto__area-arquivo label {
	color: #03318c;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}
.form-produto__area-arquivo label .procurar-arquivo__texto {
	color: #03318c;
	font-weight: bold;
	cursor: pointer;
}
.procurar-arquivo {
	position: relative;
}

.input-arquivo {
	position: absolute;
	opacity: 0;
}
.form-produto__bloco-arquivo {
	background-color: #03318c;
	transition: all 1s;
	padding: 10px 20px;
	border-radius: 30px;
	display: none;
}
.form-produto__bloco-arquivo .arquivo-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
}
.form-produto__botoes {
	display: flex;
	width: 100%;
	gap: 13px;
}
.form-produto__botoes button {
	flex: 1;
	padding: 10px;
	font-size: 20px;
	font-weight: 500;
	color: #fff;
	background-color: #03318c;
	border-radius: 15px;
	border: 3px solid #03318c;
}
.form-produto__botoes button:nth-child(2) {
	background-color: #fff;
	color: #03318c;
}

.produtos {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 44px;
	column-gap: 10px;
}

.produtos__produto {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
	background-color: #5d04d9;
	border: 3px solid #000;
	border-radius: 10px;
	padding: 10px;
}
.produtos__produto__img {
	width: 100%;
	height: 176px;
	object-fit: cover;
	object-position: center;
	border-radius: 5px;
	border: 3px solid #000;
}
.produtos__produto__nome {
	font-size: 15px;
	font-weight: 400;
	color: #fff;
	margin: 0;
}
.produtos__produto span {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.produtos__produto span p {
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	margin: 0;
}

.rodape {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #5300c8;
	color: #fff;
	padding: 32px;
}
.rodape__logo {
	display: flex;
	align-items: center;
}
.rodape__logo h1 {
	font-size: 24px;
	line-height: 16px;
}
.rodape p {
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	text-transform: uppercase;
}
.rodape p:nth-of-type(2) {
	font-weight: 200;
}

@media screen and (min-width: 768px) {
	.produtos {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (min-width: 1024px) {
	.principal {
		flex-direction: row-reverse;
	}
	.secao {
		width: 50%;
	}
	.produtos {
		max-height: 80vh;
		overflow-y: scroll;
		padding-right: 32px;
	}
	/* Estiliza a barra de rolagem */
	.produtos::-webkit-scrollbar {
		width: 5px; /* Define a largura da barra de rolagem vertical */
	}

	/* Estiliza a trilha da barra de rolagem */
	.produtos::-webkit-scrollbar-track {
		background: #f1f1f1; /* Cor de fundo da trilha da barra de rolagem */
	}

	/* Estiliza o polegar da barra de rolagem */
	.produtos::-webkit-scrollbar-thumb {
		background: #888; /* Cor do polegar da barra de rolagem */
		border-radius: 10px; /* Bordas arredondadas do polegar da barra de rolagem */
	}

	/* Estiliza o polegar da barra de rolagem ao passar o mouse */
	.produtos::-webkit-scrollbar-thumb:hover {
		background: #555; /* Cor do polegar da barra de rolagem ao passar o mouse */
	}

	/* Remove as setas da barra de rolagem */
	.produtos::-webkit-scrollbar-button {
		display: none; /* Esconde as setas da barra de rolagem */
	}
}
